.shimmer {
    background: linear-gradient(-45deg, #edf4f5 40%, #ffffff 50%, #edf4f5 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
        background-position-x: 0%;
    }
}